PREDATOR models_apdapted to run 2022 data.R
OE.WCCP_new ref 2022.old model.xlsx
OE.WCCP_new ref 2022.old model.csv
OE.MWCF_new ref 2022.old model.xlsx
OE.MWCF_new ref 2022.old model.csv
ODEQ22Matrix2005otu.csv
2005preds_225ref_new sites.csv
2005preds_225ref_new sites for running old models.xlsx
